.nugget.toplevel {
    border: 1px solid slategray;
    display: inline-flex;
}

.operation .nugget {
    border: 1px solid white;
    border-radius: 2pt;
    display: inline-flex;
}

.nugget > .text, .nugget > .score, .nugget.buttons {
    padding: 4pt;
    display: inline-block;
}

.nugget .buttons button {
    max-height: 12pt;
}