.nugget.toplevel {
    border: 1px solid slategray;
    display: inline-flex;
}

.operation .nugget {
    border: 1px solid white;
    border-radius: 2pt;
    display: inline-flex;
}

.nugget.child > .text, .nugget.child > .score, .nugget.child.buttons {
    padding: 4pt 2pt;
    display: inline-flex;
}

.nugget.toplevel {
    align-items: center;
}

.nugget .buttons button {
    max-height: 14pt;
}