.nugget {
    border: 1px solid slategray;
    border-radius: 10pt;
    display: inline-flex;
    margin: 10pt;
}

.nugget > .text, .nugget > .score, .nugget.buttons {
    display: flex;
    padding: 4pt;
    margin-top: 10pt;
    vertical-align: text-bottom;
}