.operation {
    border: 1px solid lightgray;
}

.operation .delete {
    display: inline-block;
}

.operation .title {
    position: absolute;
    background-color: black;
    color: white;
    padding: 2pt 5pt;
    transform: translate(10px, -40px)
}

.operation .nuggets {
    border-style: solid;
    border-radius: 10pt;
}

.operation.and .nuggets, .operation.joined .nuggets {
    background-color: #b983a3;
    border-color: #532e44;
}

.operation.swapped .nuggets, .operation.swap .nuggets {
    background-color: #8dacbd;
    border-color: #4c6978;
}

.operation.blended .nuggets, .operation.blend .nuggets {
    background-color: #a1af86;
    border-color: #58663d;
}

.op-icon {
    padding-top: 20pt;
}